/*
.pic {
    background: url(..images/iphone-6s.jpg) no-repeat;
    height: 1024px
}
*/

.iphone {
    border: 7px solid #ffdbda;
    width: 376px;
    height: 780px;
    border-radius: 57px;
    position: fixed;
    top: 77px;
    left: 26px;
}


/*天線 begin*/

#up {
    width: 378px;
    border-top: 12px solid #fafafa;
    position: absolute;
    top: 52px;
    left: -8px;
}

#down {
    width: 378px;
    border-top: 12px solid #fafafa;
    position: absolute;
    top: 700px;
    left: -8px;
}


/*天線 end*/


/*screen begin*/

.panel {
    width: 362px;
    height: 767px;
    border-radius: 54px;
    background-color: #ffffff;
    position: absolute;
}

.screen {
    border: 3px solid #353638;
    border-radius: 2px;
    width: 336px;
    height: 594px;
    position: absolute;
    top: 88px;
    left: 13px;
    background: url(../images/kv.jpg);
}

.camera {
    background-color: black;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 38px;
    left: 115px;
}


/*screen end*/
